@model DatabaseModel.Models.Perfume

@{
    ViewData["Title"] = "Yeni Parfüm Ekle";
}

<h1>Yeni Parfüm Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Kod</label>
                <input asp-for="Code" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marka</label>
                <input asp-for="Brand" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Tip</label>
                <input asp-for="Type" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Smell" class="control-label">Koku</label>
                <input asp-for="Smell" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Weather" class="control-label">Hava</label>
                <select asp-for="Weather" class="form-control" asp-items="@ViewBag.Weathers"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Cinsiyet</label>
                <select asp-for="Gender" class="form-control" asp-items="@ViewBag.Genders"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sillage" class="control-label">Silaj</label>
                <input asp-for="Sillage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Not</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">Link</label>
                <input asp-for="Link" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri</a>
</div>

